/* Targets the `header` element where the user image and name is displayed. */
#User-Profile {
  /* Background Texture & Colour */
  background-color: #B73239;
  background-image: url("../images/brick-wall-dark.png");
  background-repeat: repeat;

  height: 520px;
  width: 100vw;
  padding-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Targets the User Profile Image. */
#User-Profile div img {

  /* `height` and `width` set to a 1.3 ratio because that was the original
   * image ratio.
   */
  height: 300px;
  width: 230px;

  border-radius: 50%;
}


/* Targets the `User Name` `h2` Heading. */
#User-Profile div h2 {
  margin-top: -0.5rem;
  color: #FFFFFF;
}