/* Desktop Screen Styles */
/* 1024px is NOT the ideal min-width breakpoint, so it has been moved up to
 * 1268px.
 */
@media screen and (min-width: 1268px) and (max-width: 2560px) {

  /* Targets the container that holds `User-Profile` & `Tweet-Container-Main`. */
  #Primary-Content {

    display: flex;
    flex-direction: row;
  }


  /* Targets the User-Profile container. */
  #User-Profile {

    /* Adding `height` and `width` properties without which the child elements
     * like user profile image and user name (in `#User-Profile`) will be
     * off-centre.
     */
    height: 100vh;
    width: 100vh;

    background-color: #5F636C;
    height: auto;
    justify-content: flex-start;
  }


  /* Targets the user profile image. */
  #User-Profile div img {
    height: 500px;
    width: 385px;
  }


  /* Targets the primary tweet container. */
  #Tweet-Container-Main {
    flex-grow: 3;
    padding-top: 5rem;
  }

}