/* `nav` bar at the very top of Tweeter web pages. */
nav {

  height: 120px;
  /* Width is set to the entirety of the viewport's width. */
  width: 100vw;

  background-color: #4056A1;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;
}


/* Selecting a `span` element that is a direct descendant of the `nav` element.
 */
nav span {
  margin-left: 1.5em;
  margin-right: 1.5em;
}


/* Targets the `TWEETER` Logo on the `nav` bar. */
#Nav-Title{
  font-family: Bungee;
  font-size: 175%;
  margin-top: 1.4em;
}


/* Targets the "Write a New Tweet!" & "Double angles down" icon on the right
 * of the `nav` element.
 */
#New-Tweet-Invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans 3", sans-serif;
}


/* Targets the "Write" in the "Write a New Tweet" span. */
#Write {
  margin-right: 0;
  font-weight: 700;
}


/* Targets the "double angles down" icon. */
.fa-angles-down {
  color: #eb3d23;
}