/* Targets the `section` that contains the New Tweet form. */
#New-Tweet-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}


/* Targets the heading of the form ("Compose Tweet") */
#New-Tweet-Section h2 {
  margin-bottom: 1rem;
}


/* Targets the form where Tweets are entered. */
#New-Tweet-Section form {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

}


/* Targets the error `div` in the Tweet submission form. */
#Error-Container {
  background-color: #FFDE00;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 5px;
}


/* Targets the Tweet form's main label ("What are you humming about?") */
#New-Tweet-Section form label {
  font-weight: 600;
  width: 100%;
}


/* Targets the Tweet form's textarea element. */
#New-Tweet-Section form textarea {
  background-color: #F4F1EC;

  outline: none;
  border-top: #F4F1EC;
  border-right: #F4F1EC;
  border-left: #F4F1EC;
  border-bottom: solid;
  overflow: hidden;
  resize: none;

  height: 4rem;
  width: 100%;
}


/* Targets the div containing the `Tweet` button & `Counter` element. */
#New-Tweet-Section form div {
  width: 100%;
  margin-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* Targets the `Tweet` submit button. */
#New-Tweet-Section form button {
  border: none;

  background-color: #424EA7;
  color: #F4F1EC;

  font-weight: 600;
  text-transform: capitalize;
}


/* Targets the `Tweet` submit button upon hover. */
#New-Tweet-Section form button:hover {
  outline: 2px solid #638ff7;
  border: 1px solid #F4F1EC;
}


/* Targets the Tweet Character Count output element. */
#New-Tweet-Section form output {
  font-weight: 600;
}


/* This is a special selector that is applied to the character counter output.
 * It is triggered via `composer-char-counter.js` whenever the character count
 * rises above 140.
 */
.Counter-Over-Limit {
  color: #FF1100;
}